language: cpp

dist: trusty
#dist: precise
#dist: xenial

#sudo: false
sudo: required

compiler:
  - gcc
#  - clang

os:
  - linux
#  - osx

env:
  matrix:
    - FLAGS="-DCMAKE_BUILD_TYPE=Debug"
#    - FLAGS="-DCMAKE_BUILD_TYPE=Release"

#before_install:
#  - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
#  - sudo apt-get update -qq
#  - sudo apt-get install -qq qt5-default qt5-qmake
#  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake

before_install:
# - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
 - sudo add-apt-repository --yes ppa:beineri/opt-qt58-trusty
 - sudo apt-get update -qq
# - sudo apt-get -qy install qt58base qt58xmlpatterns
 - sudo apt-get -qy install qt5-qmake qtbase5-dev libqt5xmlpatterns5-dev
# - sudo apt-get install qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev
# - sudo apt-get install qt5-default qttools5-dev-tools
 - sudo apt-get -qy install python3-pip python3-dev 
 - sudo apt-get -qy install build-essential git cmake libxml2 libxslt1.1 libxml2-dev libxslt1-dev
 - sudo apt-get -qy install qt5-default qtbase5-dev
 - sudo apt-get -qy install qttools5-dev-tools qtmultimedia5-dev
# - sudo apt-get -qy install libqt5clucene5 libqt5concurrent5 libqt5core5a libqt5dbus5 libqt5designer5 libqt5designercomponents5 libqt5feedback5 libqt5gui5 libqt5help5 libqt5multimedia5 libqt5network5 libqt5opengl5 libqt5opengl5-dev libqt5organizer5 libqt5positioning5 libqt5printsupport5 libqt5qml5 libqt5quick5 libqt5quickwidgets5 libqt5script5 libqt5scripttools5 libqt5sql5 libqt5sql5-sqlite libqt5svg5 libqt5test5 libqt5webkit5 libqt5widgets5 libqt5xml5 libqt5xmlpatterns5 libqt5xmlpatterns5-dev
 - sudo apt-get -qy install \libqt5concurrent5 libqt5core5a libqt5dbus5 libqt5designer5 libqt5designercomponents5 libqt5feedback5 libqt5gui5 libqt5help5 libqt5multimedia5 libqt5network5 libqt5opengl5 libqt5opengl5-dev libqt5organizer5 libqt5positioning5 libqt5printsupport5 libqt5qml5 libqt5quick5 \libqt5script5 libqt5scripttools5 libqt5sql5 libqt5sql5-sqlite libqt5svg5 libqt5test5 libqt5webkit5 libqt5widgets5 libqt5xml5 libqt5xmlpatterns5 libqt5xmlpatterns5-dev
 
script:
  - export QT_SELECT=qt5
  - qmake --version
  - mkdir build
  - cd build
  - cmake --version
  - cmake -trace --warn-uninitialized --warn-unused_vars -Wdev -G "Unix Makefiles" .. -DCMAKE_INSTALL_PREFIX=../install $FLAGS
  - make && ctest && make install && cpack -G "TGZ"

addons:
  apt:
    packages:
    - cmake
    - cmake-data
    #- qt5-default
    #- qt5-qmake
    #- gcc-6
    #sources:
    #- ubuntu-toolchain-r-test
    #sources:
    #- kalakris-cmake
    #- george-edison55-precise-backports
