language: cpp

dist: trusty

sudo: required

compiler:
  - gcc
  - clang
  
os:
  - osx

env:
  matrix:
    - FLAGS="-DCMAKE_BUILD_TYPE=Debug"
    - FLAGS="-DCMAKE_BUILD_TYPE=Release"

install:
- if [ "$TRAVIS_OS_NAME" == "osx" ]; then 
       brew update > /dev/null
    && brew install qt5 > /dev/null
    && export PATH=/usr/local/opt/qt5/bin/:$PATH
    ;
  fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then
       add-apt-repository --yes ppa:beineri/opt-qt58-trusty
    && sudo apt-get update -qq
    && source /opt/qt58/bin/qt58-env.sh
    && sudo apt-get -qy install qt5-qmake qtbase5-dev libqt5xmlpatterns5-dev pngcrush build-essential qtmultimedia5-dev
    && export QT_SELECT=qt5
       ; 
  fi  
  
script:
  - qmake --version
  - mkdir build
  - cd build
  - cmake --version
  - cmake -trace --warn-uninitialized --warn-unused_vars -Wdev -G "Unix Makefiles" .. -DCMAKE_INSTALL_PREFIX=../install $FLAGS
  - make && ctest && make install && cpack -G "TGZ"

addons:
  apt:
    packages:
    - cmake
    - cmake-data

